<!DOCTYPE html>
<html>
<head>
<title>Изучаем Vue.js</title>
<meta charset="utf-8" />

<style>
.region{
    background-color: #999;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
}
.active{
    background-color:red;
}
.bounded{
    border: 2px solid green;
}
</style>

</head>
<body>

<div id="app">
    <div class="region" v-bind:class="{active: isActive, bounded: isBounded}"></div>
    <div class="region"></div>
    <button v-on:click="isActive=!isActive">Toggle color</button>
    <button v-on:click="isBounded=!isBounded">Toggle border</button>
</div>

<div id="app-2">
    <div class="region" v-bind:style="{'background-color': color, height: height + 'px', width: width+'px'}"></div>
    <br><br>
    <input type="text" v-model="color" />
    <br><br>
    <input type="number" v-model="width" />
    <br><br>
    <input type="number" v-model="height" />
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>

    var app = new Vue({
        el: "#app",
        data: {isActive : false, isBounded: false}
    });

    var app2 = new Vue({
        el: '#app-2',
        data: {
            color: 'red',
            width: 75,
            height: 75
        }
    });

</script>
</body>
</html>